/dts-v1/;
/plugin/;

/ {
    compatible = "nvidia,p3767-0000", "nvidia,tegra234";

    fragment@0 {
        target-path = "/";
        __overlay__ {
	model = "NVIDIA Jetson Orin NX leetop 603 Kit";
	nvidia,dtsfilename = "/home/leetop/BSP/jetpack6.2_r36.4.3/kernel_out/kernel-devicetree/generic-dts/../..//hardware/nvidia/t23x/nv-public/nv-platform/tegra234-p3768-0000+p3767-xxxx-nv-common.dtsi";
	nvidia,dtbbuildtime = "Jan 17 2025", "17:14:02";
			phandle = <0xf0>;
			camera-control-output-low {
				gpio-hog;
				output-low;
				gpios = <0x3b 0x00>;
				label = "cam0-rst";
			};
				phandle = <0x121>;
				phandle = <0x118>;
				phandle = <0x119>;
				phandle = <0x11c>;
				phandle = <0x111>;
				phandle = <0x11e>;
				phandle = <0x11f>;
				phandle = <0x1b1>;
					phandle = <0x1b3>;
							phandle = <0x202>;
								phandle = <0x203>;
					phandle = <0x1b4>;
							phandle = <0x1ae>;
								phandle = <0x204>;
					phandle = <0x1b5>;
							phandle = <0x205>;
								phandle = <0x206>;
					phandle = <0x1b6>;
							phandle = <0x1af>;
								phandle = <0x207>;
					phandle = <0x1b7>;
							phandle = <0x208>;
								phandle = <0x209>;
					phandle = <0x1b8>;
							phandle = <0x20a>;
								phandle = <0x20b>;
					phandle = <0x1c8>;
							phandle = <0x188>;
					phandle = <0x1c9>;
							phandle = <0x189>;
					phandle = <0x1ca>;
							phandle = <0x18a>;
					phandle = <0x1cb>;
							phandle = <0x18b>;
					phandle = <0x1bf>;
							phandle = <0x18e>;
					phandle = <0x1c0>;
							phandle = <0x18f>;
					phandle = <0x1c1>;
							phandle = <0x190>;
					phandle = <0x1c2>;
							phandle = <0x191>;
					phandle = <0x1c3>;
							phandle = <0x192>;
							phandle = <0x193>;
							phandle = <0x194>;
							phandle = <0x195>;
					phandle = <0x1c4>;
							phandle = <0x196>;
							phandle = <0x197>;
							phandle = <0x198>;
							phandle = <0x199>;
					phandle = <0x1c5>;
							phandle = <0x19a>;
							phandle = <0x19b>;
							phandle = <0x19c>;
							phandle = <0x19d>;
					phandle = <0x1c6>;
							phandle = <0x19e>;
							phandle = <0x19f>;
							phandle = <0x1a0>;
							phandle = <0x1a1>;
					phandle = <0x1b9>;
							phandle = <0x20c>;
								phandle = <0x20d>;
					phandle = <0x1ba>;
							phandle = <0x20e>;
								phandle = <0x20f>;
					phandle = <0x1bb>;
							phandle = <0x210>;
								phandle = <0x211>;
					phandle = <0x1bc>;
							phandle = <0x212>;
								phandle = <0x213>;
					phandle = <0x1bd>;
							phandle = <0x214>;
								phandle = <0x215>;
					phandle = <0x1be>;
							phandle = <0x216>;
								phandle = <0x217>;
					phandle = <0x1d4>;
							phandle = <0x1ad>;
					phandle = <0x1d2>;
							phandle = <0x18c>;
					phandle = <0x1d3>;
							phandle = <0x18d>;
					phandle = <0x1c7>;
							phandle = <0x1a2>;
							phandle = <0x1a3>;
							phandle = <0x1a4>;
							phandle = <0x1a5>;
							phandle = <0x1a6>;
					phandle = <0x1b0>;
							phandle = <0x146>;
							phandle = <0x147>;
							phandle = <0x148>;
							phandle = <0x149>;
							phandle = <0x14a>;
							phandle = <0x14b>;
							phandle = <0x14c>;
							phandle = <0x14d>;
							phandle = <0x14e>;
							phandle = <0x14f>;
							phandle = <0x150>;
							phandle = <0x151>;
							phandle = <0x152>;
							phandle = <0x153>;
							phandle = <0x154>;
							phandle = <0x155>;
							phandle = <0x156>;
							phandle = <0x157>;
							phandle = <0x158>;
							phandle = <0x159>;
					phandle = <0x1d5>;
							phandle = <0x1a7>;
							phandle = <0x1a8>;
							phandle = <0x1a9>;
							phandle = <0x1aa>;
							phandle = <0x1ab>;
							phandle = <0x1ac>;
						phandle = <0x218>;
						phandle = <0x15a>;
						phandle = <0x219>;
						phandle = <0x15b>;
						phandle = <0x21a>;
						phandle = <0x21b>;
						phandle = <0x21c>;
						phandle = <0x21d>;
						phandle = <0x21e>;
						phandle = <0x21f>;
						phandle = <0x220>;
						phandle = <0x221>;
						phandle = <0x15c>;
						phandle = <0x15d>;
						phandle = <0x15e>;
						phandle = <0x15f>;
						phandle = <0x160>;
						phandle = <0x161>;
						phandle = <0x162>;
						phandle = <0x163>;
						phandle = <0x164>;
						phandle = <0x165>;
						phandle = <0x166>;
						phandle = <0x167>;
						phandle = <0x168>;
						phandle = <0x169>;
						phandle = <0x16a>;
						phandle = <0x16b>;
						phandle = <0x16c>;
						phandle = <0x16d>;
						phandle = <0x16e>;
						phandle = <0x16f>;
						phandle = <0x170>;
						phandle = <0x171>;
						phandle = <0x172>;
						phandle = <0x173>;
						phandle = <0x174>;
						phandle = <0x175>;
						phandle = <0x176>;
						phandle = <0x177>;
						phandle = <0x178>;
						phandle = <0x179>;
						phandle = <0x17a>;
						phandle = <0x17b>;
						phandle = <0x17c>;
						phandle = <0x17d>;
						phandle = <0x17e>;
						phandle = <0x17f>;
						phandle = <0x180>;
						phandle = <0x181>;
						phandle = <0x182>;
						phandle = <0x183>;
						phandle = <0x184>;
						phandle = <0x185>;
						phandle = <0x186>;
						phandle = <0x187>;
					phandle = <0x1d6>;
					phandle = <0x1cc>;
					phandle = <0x1cd>;
					phandle = <0x1ce>;
					phandle = <0x1cf>;
					phandle = <0x1d0>;
					phandle = <0x1d1>;
				phandle = <0x1b2>;
			phandle = <0x222>;
			phandle = <0x223>;
			phandle = <0x224>;
			phandle = <0x225>;
			rbpcv2_imx219_a@10 {
				compatible = "sony,imx219";
				reg = <0x10>;
				devnode = "video0";
				physical_w = "3.680";
				physical_h = "2.760";
				sensor_model = "imx219";
				use_sensor_mode_id = "true";
				reset-gpios = <0xf0 0x3e 0x00>;
				phandle = <0x226>;
				mode0 {
					mclk_khz = "24000";
					num_lanes = "2";
					tegra_sinterface = "serial_a";
					lane_polarity = "6";
					phy_mode = "DPHY";
					discontinuous_clk = "yes";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "3280";
					active_h = "2464";
					mode_type = "bayer";
					pixel_phase = "rggb";
					csi_pixel_bit_depth = "10";
					readout_orientation = "90";
					line_length = "3448";
					inherent_gain = "1";
					mclk_multiplier = "9.33";
					pix_clk_hz = "182400000";
					gain_factor = "16";
					framerate_factor = "1000000";
					exposure_factor = "1000000";
					min_gain_val = "16";
					max_gain_val = "170";
					step_gain_val = "1";
					default_gain = "16";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					min_framerate = "2000000";
					max_framerate = "21000000";
					step_framerate = "1";
					default_framerate = "21000000";
					min_exp_time = "13";
					max_exp_time = "683709";
					step_exp_time = "1";
					default_exp_time = "2495";
					embedded_metadata_height = "2";
				};
				mode1 {
					mclk_khz = "24000";
					num_lanes = "2";
					tegra_sinterface = "serial_a";
					lane_polarity = "6";
					phy_mode = "DPHY";
					discontinuous_clk = "yes";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "3280";
					active_h = "1848";
					mode_type = "bayer";
					pixel_phase = "rggb";
					csi_pixel_bit_depth = "10";
					readout_orientation = "90";
					line_length = "3448";
					inherent_gain = "1";
					mclk_multiplier = "9.33";
					pix_clk_hz = "182400000";
					gain_factor = "16";
					framerate_factor = "1000000";
					exposure_factor = "1000000";
					min_gain_val = "16";
					max_gain_val = "170";
					step_gain_val = "1";
					default_gain = "16";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					min_framerate = "2000000";
					max_framerate = "28000000";
					step_framerate = "1";
					default_framerate = "28000000";
					min_exp_time = "13";
					max_exp_time = "683709";
					step_exp_time = "1";
					default_exp_time = "2495";
					embedded_metadata_height = "2";
				};
				mode2 {
					mclk_khz = "24000";
					num_lanes = "2";
					tegra_sinterface = "serial_a";
					lane_polarity = "6";
					phy_mode = "DPHY";
					discontinuous_clk = "yes";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "1920";
					active_h = "1080";
					mode_type = "bayer";
					pixel_phase = "rggb";
					csi_pixel_bit_depth = "10";
					readout_orientation = "90";
					line_length = "3448";
					inherent_gain = "1";
					mclk_multiplier = "9.33";
					pix_clk_hz = "182400000";
					gain_factor = "16";
					framerate_factor = "1000000";
					exposure_factor = "1000000";
					min_gain_val = "16";
					max_gain_val = "170";
					step_gain_val = "1";
					default_gain = "16";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					min_framerate = "2000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					min_exp_time = "13";
					max_exp_time = "683709";
					step_exp_time = "1";
					default_exp_time = "2495";
					embedded_metadata_height = "2";
				};
				mode3 {
					mclk_khz = "24000";
					num_lanes = "2";
					tegra_sinterface = "serial_a";
					lane_polarity = "6";
					phy_mode = "DPHY";
					discontinuous_clk = "yes";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "1640";
					active_h = "1232";
					mode_type = "bayer";
					pixel_phase = "rggb";
					csi_pixel_bit_depth = "10";
					readout_orientation = "90";
					line_length = "3448";
					inherent_gain = "1";
					mclk_multiplier = "9.33";
					pix_clk_hz = "182400000";
					gain_factor = "16";
					framerate_factor = "1000000";
					exposure_factor = "1000000";
					min_gain_val = "16";
					max_gain_val = "170";
					step_gain_val = "1";
					default_gain = "16";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					min_framerate = "2000000";
					max_framerate = "30000000";
					step_framerate = "1";
					default_framerate = "30000000";
					min_exp_time = "13";
					max_exp_time = "683709";
					step_exp_time = "1";
					default_exp_time = "2495";
					embedded_metadata_height = "2";
				};
				mode4 {
					mclk_khz = "24000";
					num_lanes = "2";
					tegra_sinterface = "serial_a";
					lane_polarity = "6";
					phy_mode = "DPHY";
					discontinuous_clk = "yes";
					dpcm_enable = "false";
					cil_settletime = "0";
					active_w = "1280";
					active_h = "720";
					mode_type = "bayer";
					pixel_phase = "rggb";
					csi_pixel_bit_depth = "10";
					readout_orientation = "90";
					line_length = "3448";
					inherent_gain = "1";
					mclk_multiplier = "9.33";
					pix_clk_hz = "182400000";
					gain_factor = "16";
					framerate_factor = "1000000";
					exposure_factor = "1000000";
					min_gain_val = "16";
					max_gain_val = "170";
					step_gain_val = "1";
					default_gain = "16";
					min_hdr_ratio = "1";
					max_hdr_ratio = "1";
					min_framerate = "2000000";
					max_framerate = "60000000";
					step_framerate = "1";
					default_framerate = "60000000";
					min_exp_time = "13";
					max_exp_time = "683709";
					step_exp_time = "1";
					default_exp_time = "2495";
					embedded_metadata_height = "2";
				};
				ports {
					#address-cells = <0x01>;
					#size-cells = <0x00>;
					port@0 {
						reg = <0x00>;
						endpoint {
							port-index = <0x00>;
							bus-width = <0x02>;
							remote-endpoint = <0xf1>;
							phandle = <0x108>;
						};
					};
				};
			};
			phandle = <0x227>;
			phandle = <0x228>;
			phandle = <0x229>;
			phandle = <0x22a>;
			phandle = <0x22b>;
			iommus = <0xf2 0x0c>;
			phandle = <0x22c>;
			phandle = <0x22d>;
			phandle = <0x1fa>;
			phandle = <0x22e>;
			phandle = <0x22f>;
			phandle = <0x230>;
			phandle = <0x231>;
			iommus = <0xf2 0x01>;
			pinctrl-0 = <0xf3>;
			pinctrl-1 = <0xf4>;
			cd-gpios = <0xf0 0x37 0x01>;
			vmmc-supply = <0xf5>;
			iommus = <0xf2 0x02>;
			vclamp-usb-supply = <0xf6>;
			avdd-usb-supply = <0xf7>;
							phandle = <0xfe>;
							phandle = <0xff>;
							phandle = <0x100>;
							status = "okay";
							phandle = <0x101>;
					vbus-supply = <0xf8>;
					connector {
						compatible = "usb-b-connector", "gpio-usb-b-connector";
						label = "micro-USB";
						type = "micro";
						vbus-gpio = <0xf0 0x99 0x01>;
					};
							phandle = <0x232>;
					vbus-supply = <0xf8>;
					nvidia,usb2-companion = <0x02>;
					status = "okay";
					nvidia,usb2-companion = <0x02>;
			iommus = <0xf2 0x0f>;
			interrupts-extended = <0x01 0x00 0xa3 0x04 0x01 0x00 0xa4 0x04 0xfd 0x4c 0x04 0xfd 0x4d 0x04 0xfd 0x4e 0x04 0xfd 0x4f 0x04 0xfd 0x50 0x04 0xfd 0x51 0x04 0xfd 0x52 0x04>;
			interrupt-names = "xhci", "mbox", "wake0", "wake1", "wake2", "wake3", "wake4", "wake5", "wake6";
			iommus = <0xf2 0x0e>;
			phys = <0xfb 0xfe 0xff 0x100 0xfc 0x101>;
			phy-names = "usb2-0", "usb2-1", "usb2-2", "usb3-0", "usb3-1", "usb3-2";
			phandle = <0x233>;
			phandle = <0x123>;
			phandle = <0x234>;
			phandle = <0x235>;
			phandle = <0x236>;
			phandle = <0x113>;
			phandle = <0x114>;
			phandle = <0x115>;
			phandle = <0x116>;
			phandle = <0x117>;
			phandle = <0x237>;
			phandle = <0x238>;
			phandle = <0x239>;
			phandle = <0x23a>;
			phandle = <0x23b>;
			phandle = <0x23c>;
			phandle = <0x23d>;
			phandle = <0x23e>;
			phandle = <0x11a>;
			phandle = <0x11b>;
			phandle = <0x10e>;
			phandle = <0x10f>;
			phandle = <0x23f>;
			phandle = <0x240>;
			phandle = <0x241>;
			phandle = <0x242>;
			snps,axi-config = <0x102>;
			nvidia,vm-irq-config = <0x103>;
				phandle = <0x102>;
			snps,axi-config = <0x104>;
				phandle = <0x104>;
			snps,axi-config = <0x105>;
				phandle = <0x105>;
			phandle = <0xf2>;
			phandle = <0x145>;
			nvidia,gpio-controller = <0x106>;
			phandle = <0x243>;
			phandle = <0x244>;
			ina3221@40 {
				compatible = "ti,ina3221";
				reg = <0x40>;
				phandle = <0x245>;
				channel@0 {
					reg = <0x00>;
					label = "VDD_IN";
					shunt-resistor-micro-ohms = <0x1388>;
				};
				channel@1 {
					reg = <0x01>;
					label = "VDD_CPU_GPU_CV";
					shunt-resistor-micro-ohms = <0x1388>;
				};
				channel@2 {
					reg = <0x02>;
					label = "VDD_SOC";
					shunt-resistor-micro-ohms = <0x1388>;
			phandle = <0x246>;
			dmas = <0xed 0x13 0xed 0x13>;
			interrupt-parent = <0xfd>;
			phandle = <0x106>;
			GPIO06-high {
				gpio-hog;
				output-high;
				gpios = <0x13 0x00>;
				label = "gpio06_high";
				status = "okay";
			};
			phandle = <0x247>;
			phandle = <0xfd>;
				phandle = <0xf4>;
				phandle = <0xf3>;
				phandle = <0x248>;
				phandle = <0x249>;
			phandle = <0x10b>;
			iommus = <0xf2 0x27>;
			iommu-map = <0x00 0x04 0x35 0x01 0x01 0x04 0x36 0x01 0x02 0x04 0x37 0x01 0x03 0x04 0x38 0x01 0x04 0x04 0x39 0x01 0x05 0x04 0x3a 0x01 0x06 0x04 0x3b 0x01 0x07 0x04 0x3c 0x01 0x08 0xf2 0x35 0x01 0x09 0xf2 0x36 0x01 0x0a 0xf2 0x37 0x01 0x0b 0xf2 0x38 0x01 0x0c 0xf2 0x39 0x01 0x0d 0xf2 0x3a 0x01 0x0e 0xf2 0x3b 0x01 0x0f 0xf2 0x3c 0x01>;
			phandle = <0x112>;
				iommus = <0xf2 0x34>;
				iommus = <0xf2 0x29>;
				compatible = "nvidia,tegra234-se2-aes", "nvidia,tegra234-se-aes";
				iommus = <0xf2 0x2e>;
				status = "disabled";
				compatible = "nvidia,tegra234-se4-hash", "nvidia,tegra234-se-hash";
				iommus = <0xf2 0x2f>;
				status = "disabled";
			};
			nvcsi@15a00000 {
				num-channels = <0x01>;
				#address-cells = <0x01>;
				#size-cells = <0x00>;
				compatible = "nvidia,tegra194-nvcsi";
				resets = <0x03 0x2b>;
				reset-names = "nvcsi";
				clocks = <0x03 0x51>;
				clock-names = "nvcsi";
				phandle = <0x24a>;
				channel@0 {
					reg = <0x00>;
					phandle = <0x24b>;
					ports {
						#address-cells = <0x01>;
						#size-cells = <0x00>;
						port@0 {
							reg = <0x00>;
							phandle = <0x24c>;
							endpoint@0 {
								port-index = <0x00>;
								bus-width = <0x02>;
								remote-endpoint = <0x108>;
								phandle = <0xf1>;
							};
						};
						port@1 {
							reg = <0x01>;
							phandle = <0x24d>;
							endpoint@1 {
								remote-endpoint = <0x109>;
								phandle = <0x1f8>;
							};
						};
					};
				};
				iommus = <0xf2 0x2a>;
				iommus = <0xf2 0x33>;
				iommus = <0xf2 0x2b>;
				phandle = <0x24e>;
				phandle = <0x24f>;
				iommus = <0xf2 0x2c>;
				phandle = <0x250>;
					iommus = <0xf2 0x12>;
					phandle = <0x251>;
					iommus = <0xf2 0x13>;
					phandle = <0x252>;
					iommus = <0xf2 0x14>;
					phandle = <0x253>;
					iommus = <0xf2 0x15>;
					phandle = <0x254>;
					iommus = <0xf2 0x16>;
					phandle = <0x255>;
					iommus = <0xf2 0x17>;
					phandle = <0x256>;
					iommus = <0xf2 0x18>;
					phandle = <0x257>;
					iommus = <0xf2 0x19>;
					phandle = <0x258>;
				nvidia,vi-falcon-device = <0x10a>;
				iommus = <0x10b 0x02>;
				phandle = <0x1f6>;
				iommus = <0x10b 0x02>;
				phandle = <0x10a>;
				nvidia,vi-falcon-device = <0x10c>;
				iommus = <0x10b 0x04>;
				phandle = <0x1f7>;
				iommus = <0x10b 0x04>;
				phandle = <0x10c>;
				nvidia,isp-falcon-device = <0x10d>;
				iommus = <0xf2 0x28>;
				phandle = <0x201>;
				iommus = <0xf2 0x28>;
				phandle = <0x10d>;
			iommu-map = <0x00 0xf2 0x09 0x1000>;
			phys = <0x10e 0x10f>;
			vddio-pex-ctl-supply = <0xf6>;
			vpcie3v3-supply = <0x110>;
			iommus = <0xf2 0x09>;
			iommu-map = <0x00 0xf2 0x0b 0x1000>;
			iommus = <0xf2 0x0b>;
			iommu-map = <0x00 0xf2 0x0b 0x1000>;
			iommus = <0xf2 0x0b>;
			pinctrl-0 = <0x111>;
			nvidia,host1x = <0x112>;
			iommu-map = <0x00 0xf2 0x05 0x1000>;
			vddio-pex-ctl-supply = <0xf6>;
			phys = <0x113>;
			iommus = <0xf2 0x05>;
			nvidia,pex-wake-gpios = <0xf0 0x5a 0x08>;
			iommu-map = <0x00 0xf2 0x06 0x1000>;
			iommus = <0xf2 0x06>;
			iommu-map = <0x00 0xf2 0x07 0x1000>;
			iommus = <0xf2 0x07>;
			vddio-pex-ctl-supply = <0xf6>;
			phys = <0x114 0x115 0x116 0x117>;
			pinctrl-0 = <0x118>;
			nvidia,host1x = <0x112>;
			pinctrl-0 = <0x119>;
			nvidia,host1x = <0x112>;
			iommu-map = <0x00 0xf2 0x08 0x1000>;
			vddio-pex-ctl-supply = <0xf6>;
			phys = <0x11a 0x11b>;
			iommus = <0xf2 0x08>;
			iommu-map = <0x00 0xf2 0x08 0x1000>;
			iommus = <0xf2 0x08>;
			pinctrl-0 = <0x11c>;
			nvidia,host1x = <0x112>;
		lens_imx219@RBPCV2 {
			min_focus_distance = "0.0";
			hyper_focal = "0.0";
			focal_length = "3.04";
			f_number = "2.0";
			aperture = "0.0";
		};
			iommus = <0xf2 0x03>;
			nvidia,vm-irq-config = <0x11d>;
			pinctrl-0 = <0x11e>;
			pinctrl-1 = <0x11f>;
			mboxes = <0x120 0x01>;
			phandle = <0x259>;
			phandle = <0x1d9>;
			iommus = <0xf2 0x04>;
		};
		pcie-ep@14160000 {
			compatible = "nvidia,tegra234-pcie-ep";
			power-domains = <0x03 0x08>;
			reg = <0x00 0x14160000 0x00 0x20000 0x00 0x36040000 0x00 0x40000 0x00 0x36080000 0x00 0x40000 0x21 0x40000000 0x03 0x00>;
			reg-names = "appl", "atu_dma", "dbi", "addr_space";
			num-lanes = <0x04>;
			clocks = <0x03 0xe0>;
			clock-names = "core";
			resets = <0x03 0x7d 0x03 0x78>;
			reset-names = "apb", "core";
			pinctrl-names = "default";
			pinctrl-0 = <0x121>;
			interrupts = <0x00 0x33 0x04>;
			interrupt-names = "intr";
			nvidia,bpmp = <0x03 0x04>;
			nvidia,enable-ext-refclk;
			nvidia,aspm-cmrt-us = <0x3c>;
			nvidia,aspm-pwr-on-t-us = <0x14>;
			nvidia,aspm-l0s-entrance-latency-us = <0x03>;
			nvidia,host1x = <0x112>;
			num-ib-windows = <0x02>;
			num-ob-windows = <0x08>;
			interconnects = <0x57 0xe0 0x58 0x57 0xe1 0x58>;
			interconnect-names = "dma-mem", "write";
			iommus = <0x04 0x13>;
			dma-coherent;
			status = "disabled";
			phys = <0x114 0x115 0x116 0x117>;
			phy-names = "p2u-0", "p2u-1", "p2u-2", "p2u-3";
			reset-gpios = <0xf0 0x59 0x01>;
			nvidia,refclk-select-gpios = <0x106 0x04 0x00>;
			phandle = <0x25a>;
			phandle = <0x122>;
			mboxes = <0x120 0x00>;
			phandle = <0x120>;
				mboxes = <0x122 0x01 0x80000005 0x122 0x01 0x04>;
			phandle = <0x124>;
			phandle = <0x125>;
		mboxes = <0x123 0x00 0x13>;
		shmem = <0x124 0x125>;
		iommus = <0xf2 0x10>;
			phandle = <0x25b>;
				interrupt-parent = <0xfd>;
			phandle = <0x1d7>;
			operating-points-v2 = <0x126>;
			next-level-cache = <0x127>;
			cpu-idle-states = <0x128>;
			phandle = <0x136>;
			operating-points-v2 = <0x126>;
			next-level-cache = <0x129>;
			cpu-idle-states = <0x128>;
			phandle = <0x137>;
			operating-points-v2 = <0x126>;
			next-level-cache = <0x12a>;
			cpu-idle-states = <0x128>;
			phandle = <0x138>;
			operating-points-v2 = <0x126>;
			next-level-cache = <0x12b>;
			cpu-idle-states = <0x128>;
			phandle = <0x139>;
			operating-points-v2 = <0x12c>;
			next-level-cache = <0x12d>;
			cpu-idle-states = <0x128>;
			phandle = <0x13a>;
			operating-points-v2 = <0x12c>;
			next-level-cache = <0x12e>;
			cpu-idle-states = <0x128>;
			phandle = <0x13b>;
			operating-points-v2 = <0x12c>;
			next-level-cache = <0x12f>;
			cpu-idle-states = <0x128>;
			phandle = <0x13c>;
			operating-points-v2 = <0x12c>;
			next-level-cache = <0x130>;
			cpu-idle-states = <0x128>;
			phandle = <0x13d>;
			operating-points-v2 = <0x131>;
			next-level-cache = <0x132>;
			cpu-idle-states = <0x128>;
			phandle = <0x13e>;
			operating-points-v2 = <0x131>;
			next-level-cache = <0x133>;
			cpu-idle-states = <0x128>;
			phandle = <0x13f>;
			operating-points-v2 = <0x131>;
			next-level-cache = <0x134>;
			cpu-idle-states = <0x128>;
			phandle = <0x140>;
			operating-points-v2 = <0x131>;
			next-level-cache = <0x135>;
			cpu-idle-states = <0x128>;
			phandle = <0x141>;
					cpu = <0x136>;
					cpu = <0x137>;
					cpu = <0x138>;
					cpu = <0x139>;
					cpu = <0x13a>;
					cpu = <0x13b>;
					cpu = <0x13c>;
					cpu = <0x13d>;
					cpu = <0x13e>;
					cpu = <0x13f>;
					cpu = <0x140>;
					cpu = <0x141>;
			next-level-cache = <0x142>;
			phandle = <0x127>;
			next-level-cache = <0x142>;
			phandle = <0x129>;
			next-level-cache = <0x142>;
			phandle = <0x12a>;
			next-level-cache = <0x142>;
			phandle = <0x12b>;
			next-level-cache = <0x143>;
			phandle = <0x12d>;
			next-level-cache = <0x143>;
			phandle = <0x12e>;
			next-level-cache = <0x143>;
			phandle = <0x12f>;
			next-level-cache = <0x143>;
			phandle = <0x130>;
			next-level-cache = <0x144>;
			phandle = <0x132>;
			next-level-cache = <0x144>;
			phandle = <0x133>;
			next-level-cache = <0x144>;
			phandle = <0x134>;
			next-level-cache = <0x144>;
			phandle = <0x135>;
			phandle = <0x142>;
			phandle = <0x143>;
			phandle = <0x144>;
				phandle = <0x128>;
		cpus = <0x136 0x137 0x138 0x139>;
		cpus = <0x13a 0x13b 0x13c 0x13d>;
		cpus = <0x13e 0x13f 0x140 0x141>;
		mboxes = <0x123 0x01 0x00 0x145 0x01 0x80000001>;
		phandle = <0x25c>;
		dais = <0x146 0x147 0x148 0x149 0x14a 0x14b 0x14c 0x14d 0x14e 0x14f 0x150 0x151 0x152 0x153 0x154 0x155 0x156 0x157 0x158 0x159 0x15a 0x15b 0x15c 0x15d 0x15e 0x15f 0x160 0x161 0x162 0x163 0x164 0x165 0x166 0x167 0x168 0x169 0x16a 0x16b 0x16c 0x16d 0x16e 0x16f 0x170 0x171 0x172 0x173 0x174 0x175 0x176 0x177 0x178 0x179 0x17a 0x17b 0x17c 0x17d 0x17e 0x17f 0x180 0x181 0x182 0x183 0x184 0x185 0x186 0x187 0x188 0x189 0x18a 0x18b 0x18c 0x18d 0x18e 0x18f 0x190 0x191 0x192 0x193 0x194 0x195 0x196 0x197 0x198 0x199 0x19a 0x19b 0x19c 0x19d 0x19e 0x19f 0x1a0 0x1a1 0x1a2 0x1a3 0x1a4 0x1a5 0x1a6 0x1a7 0x1a8 0x1a9 0x1aa 0x1ab 0x1ac 0x1ad 0x1ae 0x1af>;
		phandle = <0x25d>;
			phandle = <0x25e>;
				sound-dai = <0x1b0 0x00>;
				sound-dai = <0x1b1 0x00>;
			phandle = <0x25f>;
				sound-dai = <0x1b0 0x01>;
				sound-dai = <0x1b1 0x01>;
			phandle = <0x260>;
				sound-dai = <0x1b0 0x02>;
				sound-dai = <0x1b1 0x02>;
			phandle = <0x261>;
				sound-dai = <0x1b0 0x03>;
				sound-dai = <0x1b1 0x03>;
			phandle = <0x262>;
				sound-dai = <0x1b0 0x04>;
				sound-dai = <0x1b1 0x04>;
			phandle = <0x263>;
				sound-dai = <0x1b0 0x05>;
				sound-dai = <0x1b1 0x05>;
			phandle = <0x264>;
				sound-dai = <0x1b0 0x06>;
				sound-dai = <0x1b1 0x06>;
			phandle = <0x265>;
				sound-dai = <0x1b0 0x07>;
				sound-dai = <0x1b1 0x07>;
			phandle = <0x266>;
				sound-dai = <0x1b0 0x08>;
				sound-dai = <0x1b1 0x08>;
			phandle = <0x267>;
				sound-dai = <0x1b0 0x09>;
				sound-dai = <0x1b1 0x09>;
			phandle = <0x268>;
				sound-dai = <0x1b0 0x0a>;
				sound-dai = <0x1b1 0x0a>;
			phandle = <0x269>;
				sound-dai = <0x1b0 0x0b>;
				sound-dai = <0x1b1 0x0b>;
			phandle = <0x26a>;
				sound-dai = <0x1b0 0x0c>;
				sound-dai = <0x1b1 0x0c>;
			phandle = <0x26b>;
				sound-dai = <0x1b0 0x0d>;
				sound-dai = <0x1b1 0x0d>;
			phandle = <0x26c>;
				sound-dai = <0x1b0 0x0e>;
				sound-dai = <0x1b1 0x0e>;
			phandle = <0x26d>;
				sound-dai = <0x1b0 0x0f>;
				sound-dai = <0x1b1 0x0f>;
			phandle = <0x26e>;
				sound-dai = <0x1b0 0x10>;
				sound-dai = <0x1b1 0x10>;
			phandle = <0x26f>;
				sound-dai = <0x1b0 0x11>;
				sound-dai = <0x1b1 0x11>;
			phandle = <0x270>;
				sound-dai = <0x1b0 0x12>;
				sound-dai = <0x1b1 0x12>;
			phandle = <0x271>;
				sound-dai = <0x1b0 0x13>;
				sound-dai = <0x1b1 0x13>;
			phandle = <0x272>;
				sound-dai = <0x1b2 0x24>;
				sound-dai = <0x1b2 0x00>;
			phandle = <0x273>;
				sound-dai = <0x1b2 0x25>;
				sound-dai = <0x1b2 0x01>;
			phandle = <0x274>;
				sound-dai = <0x1b2 0x33>;
				sound-dai = <0x1b2 0x02>;
			phandle = <0x275>;
				sound-dai = <0x1b2 0x34>;
				sound-dai = <0x1b2 0x03>;
			phandle = <0x276>;
				sound-dai = <0x1b2 0x10>;
				sound-dai = <0x1b0 0x14>;
			phandle = <0x277>;
				sound-dai = <0x1b2 0x11>;
				sound-dai = <0x1b0 0x15>;
			phandle = <0x278>;
				sound-dai = <0x1b2 0x12>;
				sound-dai = <0x1b0 0x16>;
			phandle = <0x279>;
				sound-dai = <0x1b2 0x13>;
				sound-dai = <0x1b0 0x17>;
			phandle = <0x27a>;
				sound-dai = <0x1b2 0x14>;
				sound-dai = <0x1b0 0x18>;
			phandle = <0x27b>;
				sound-dai = <0x1b2 0x15>;
				sound-dai = <0x1b0 0x19>;
			phandle = <0x27c>;
				sound-dai = <0x1b2 0x16>;
				sound-dai = <0x1b0 0x1a>;
			phandle = <0x27d>;
				sound-dai = <0x1b2 0x17>;
				sound-dai = <0x1b0 0x1b>;
			phandle = <0x27e>;
				sound-dai = <0x1b2 0x18>;
				sound-dai = <0x1b0 0x1c>;
			phandle = <0x27f>;
				sound-dai = <0x1b2 0x19>;
				sound-dai = <0x1b0 0x1d>;
			phandle = <0x280>;
				sound-dai = <0x1b2 0x1a>;
				sound-dai = <0x1b0 0x1e>;
			phandle = <0x281>;
				sound-dai = <0x1b2 0x1b>;
				sound-dai = <0x1b0 0x1f>;
			phandle = <0x282>;
				sound-dai = <0x1b2 0x1c>;
				sound-dai = <0x1b0 0x20>;
			phandle = <0x283>;
				sound-dai = <0x1b2 0x1d>;
				sound-dai = <0x1b0 0x21>;
			phandle = <0x284>;
				sound-dai = <0x1b2 0x1e>;
				sound-dai = <0x1b0 0x22>;
			phandle = <0x285>;
				sound-dai = <0x1b2 0x1f>;
				sound-dai = <0x1b0 0x23>;
			phandle = <0x286>;
				sound-dai = <0x1b2 0x20>;
				sound-dai = <0x1b0 0x24>;
			phandle = <0x287>;
				sound-dai = <0x1b2 0x21>;
				sound-dai = <0x1b0 0x25>;
			phandle = <0x288>;
				sound-dai = <0x1b2 0x22>;
				sound-dai = <0x1b0 0x26>;
			phandle = <0x289>;
				sound-dai = <0x1b2 0x23>;
				sound-dai = <0x1b0 0x27>;
			phandle = <0x28a>;
				sound-dai = <0x1b0 0x28>;
				sound-dai = <0x1b1 0x00>;
			phandle = <0x28b>;
				sound-dai = <0x1b0 0x29>;
				sound-dai = <0x1b1 0x01>;
			phandle = <0x28c>;
				sound-dai = <0x1b0 0x2a>;
				sound-dai = <0x1b1 0x02>;
			phandle = <0x28d>;
				sound-dai = <0x1b0 0x2b>;
				sound-dai = <0x1b1 0x03>;
			phandle = <0x28e>;
				sound-dai = <0x1b0 0x2c>;
				sound-dai = <0x1b1 0x04>;
			phandle = <0x28f>;
				sound-dai = <0x1b0 0x2d>;
				sound-dai = <0x1b1 0x05>;
			phandle = <0x290>;
				sound-dai = <0x1b0 0x2e>;
				sound-dai = <0x1b1 0x06>;
			phandle = <0x291>;
				sound-dai = <0x1b0 0x2f>;
				sound-dai = <0x1b1 0x07>;
			phandle = <0x292>;
				sound-dai = <0x1b0 0x30>;
				sound-dai = <0x1b1 0x08>;
			phandle = <0x293>;
				sound-dai = <0x1b0 0x31>;
				sound-dai = <0x1b1 0x09>;
			phandle = <0x294>;
				sound-dai = <0x1b0 0x32>;
				sound-dai = <0x1b1 0x0a>;
			phandle = <0x295>;
				sound-dai = <0x1b0 0x33>;
				sound-dai = <0x1b1 0x0b>;
			phandle = <0x296>;
				sound-dai = <0x1b0 0x34>;
				sound-dai = <0x1b1 0x0c>;
			phandle = <0x297>;
				sound-dai = <0x1b0 0x35>;
				sound-dai = <0x1b1 0x0d>;
			phandle = <0x298>;
				sound-dai = <0x1b0 0x36>;
				sound-dai = <0x1b1 0x0e>;
			phandle = <0x299>;
				sound-dai = <0x1b0 0x37>;
				sound-dai = <0x1b1 0x0f>;
			phandle = <0x29a>;
				sound-dai = <0x1b0 0x38>;
				sound-dai = <0x1b1 0x10>;
			phandle = <0x29b>;
				sound-dai = <0x1b0 0x39>;
				sound-dai = <0x1b1 0x11>;
			phandle = <0x29c>;
				sound-dai = <0x1b0 0x3a>;
				sound-dai = <0x1b1 0x12>;
			phandle = <0x29d>;
				sound-dai = <0x1b0 0x3b>;
				sound-dai = <0x1b1 0x13>;
			phandle = <0x29e>;
				sound-dai = <0x1b1 0x14>;
				sound-dai = <0x1b3 0x00>;
			phandle = <0x29f>;
				sound-dai = <0x1b1 0x15>;
				sound-dai = <0x1b4 0x00>;
			phandle = <0x2a0>;
				sound-dai = <0x1b1 0x16>;
				sound-dai = <0x1b5 0x00>;
			phandle = <0x2a1>;
				sound-dai = <0x1b1 0x17>;
				sound-dai = <0x1b6 0x00>;
			phandle = <0x2a2>;
				sound-dai = <0x1b1 0x18>;
				sound-dai = <0x1b7 0x00>;
			phandle = <0x2a3>;
				sound-dai = <0x1b1 0x19>;
				sound-dai = <0x1b8 0x00>;
			phandle = <0x2a4>;
				sound-dai = <0x1b1 0x1a>;
				sound-dai = <0x1b9 0x00>;
			phandle = <0x2a5>;
				sound-dai = <0x1b1 0x1b>;
				sound-dai = <0x1ba 0x00>;
			phandle = <0x2a6>;
				sound-dai = <0x1b1 0x1c>;
				sound-dai = <0x1bb 0x00>;
			phandle = <0x2a7>;
				sound-dai = <0x1b1 0x1d>;
				sound-dai = <0x1bc 0x00>;
			phandle = <0x2a8>;
				sound-dai = <0x1b1 0x1e>;
				sound-dai = <0x1bd 0x00>;
			phandle = <0x2a9>;
				sound-dai = <0x1b1 0x1f>;
				sound-dai = <0x1be 0x00>;
			phandle = <0x2aa>;
				sound-dai = <0x1b3 0x01>;
				phandle = <0x2ab>;
				sound-dai = <0x1b3 0x02>;
			phandle = <0x2ac>;
				sound-dai = <0x1b4 0x01>;
				phandle = <0x2ad>;
				sound-dai = <0x1b4 0x02>;
			phandle = <0x2ae>;
				sound-dai = <0x1b5 0x01>;
				phandle = <0x2af>;
				sound-dai = <0x1b5 0x02>;
			phandle = <0x2b0>;
				sound-dai = <0x1b6 0x01>;
				phandle = <0x2b1>;
				sound-dai = <0x1b6 0x02>;
			phandle = <0x2b2>;
				sound-dai = <0x1b7 0x01>;
				phandle = <0x2b3>;
				sound-dai = <0x1b7 0x02>;
			phandle = <0x2b4>;
				sound-dai = <0x1b8 0x01>;
				phandle = <0x2b5>;
				sound-dai = <0x1b8 0x02>;
			phandle = <0x2b6>;
				sound-dai = <0x1b9 0x01>;
				sound-dai = <0x1b9 0x02>;
			phandle = <0x2b7>;
				sound-dai = <0x1ba 0x01>;
				sound-dai = <0x1ba 0x02>;
			phandle = <0x2b8>;
				sound-dai = <0x1bb 0x01>;
				sound-dai = <0x1bb 0x02>;
			phandle = <0x2b9>;
				sound-dai = <0x1bc 0x01>;
				sound-dai = <0x1bc 0x02>;
			phandle = <0x2ba>;
				sound-dai = <0x1bd 0x01>;
				sound-dai = <0x1bd 0x02>;
			phandle = <0x2bb>;
				sound-dai = <0x1be 0x01>;
				sound-dai = <0x1be 0x02>;
			phandle = <0x2bc>;
				sound-dai = <0x1b1 0x2c>;
				sound-dai = <0x1bf 0x00>;
			phandle = <0x2bd>;
				sound-dai = <0x1b1 0x2d>;
				sound-dai = <0x1bf 0x01>;
			phandle = <0x2be>;
				sound-dai = <0x1b1 0x2e>;
				sound-dai = <0x1bf 0x02>;
			phandle = <0x2bf>;
				sound-dai = <0x1b1 0x2f>;
				sound-dai = <0x1bf 0x03>;
			phandle = <0x2c0>;
				sound-dai = <0x1bf 0x04>;
				sound-dai = <0x1b1 0x30>;
			phandle = <0x2c1>;
				sound-dai = <0x1b1 0x31>;
				sound-dai = <0x1c0 0x00>;
			phandle = <0x2c2>;
				sound-dai = <0x1b1 0x32>;
				sound-dai = <0x1c0 0x01>;
			phandle = <0x2c3>;
				sound-dai = <0x1b1 0x33>;
				sound-dai = <0x1c0 0x02>;
			phandle = <0x2c4>;
				sound-dai = <0x1b1 0x34>;
				sound-dai = <0x1c0 0x03>;
			phandle = <0x2c5>;
				sound-dai = <0x1c0 0x04>;
				sound-dai = <0x1b1 0x35>;
			phandle = <0x2c6>;
				sound-dai = <0x1b1 0x36>;
				sound-dai = <0x1c1 0x00>;
			phandle = <0x2c7>;
				sound-dai = <0x1b1 0x37>;
				sound-dai = <0x1c1 0x01>;
			phandle = <0x2c8>;
				sound-dai = <0x1b1 0x38>;
				sound-dai = <0x1c1 0x02>;
			phandle = <0x2c9>;
				sound-dai = <0x1b1 0x39>;
				sound-dai = <0x1c1 0x03>;
			phandle = <0x2ca>;
				sound-dai = <0x1c1 0x04>;
				sound-dai = <0x1b1 0x3a>;
			phandle = <0x2cb>;
				sound-dai = <0x1b1 0x3b>;
				sound-dai = <0x1c2 0x00>;
			phandle = <0x2cc>;
				sound-dai = <0x1b1 0x3c>;
				sound-dai = <0x1c2 0x01>;
			phandle = <0x2cd>;
				sound-dai = <0x1b1 0x3d>;
				sound-dai = <0x1c2 0x02>;
			phandle = <0x2ce>;
				sound-dai = <0x1b1 0x3e>;
				sound-dai = <0x1c2 0x03>;
			phandle = <0x2cf>;
				sound-dai = <0x1c2 0x04>;
				sound-dai = <0x1b1 0x3f>;
			phandle = <0x2d0>;
				sound-dai = <0x1b1 0x40>;
				sound-dai = <0x1c3 0x04>;
			phandle = <0x2d1>;
				sound-dai = <0x1c3 0x00>;
				sound-dai = <0x1b1 0x41>;
			phandle = <0x2d2>;
				sound-dai = <0x1c3 0x01>;
				sound-dai = <0x1b1 0x42>;
			phandle = <0x2d3>;
				sound-dai = <0x1c3 0x02>;
				sound-dai = <0x1b1 0x43>;
			phandle = <0x2d4>;
				sound-dai = <0x1c3 0x03>;
				sound-dai = <0x1b1 0x44>;
			phandle = <0x2d5>;
				sound-dai = <0x1b1 0x45>;
				sound-dai = <0x1c4 0x04>;
			phandle = <0x2d6>;
				sound-dai = <0x1c4 0x00>;
				sound-dai = <0x1b1 0x46>;
			phandle = <0x2d7>;
				sound-dai = <0x1c4 0x01>;
				sound-dai = <0x1b1 0x47>;
			phandle = <0x2d8>;
				sound-dai = <0x1c4 0x02>;
				sound-dai = <0x1b1 0x48>;
			phandle = <0x2d9>;
				sound-dai = <0x1c4 0x03>;
				sound-dai = <0x1b1 0x49>;
			phandle = <0x2da>;
				sound-dai = <0x1b1 0x4a>;
				sound-dai = <0x1c5 0x04>;
			phandle = <0x2db>;
				sound-dai = <0x1c5 0x00>;
				sound-dai = <0x1b1 0x4b>;
			phandle = <0x2dc>;
				sound-dai = <0x1c5 0x01>;
				sound-dai = <0x1b1 0x4c>;
			phandle = <0x2dd>;
				sound-dai = <0x1c5 0x02>;
				sound-dai = <0x1b1 0x4d>;
			phandle = <0x2de>;
				sound-dai = <0x1c5 0x03>;
				sound-dai = <0x1b1 0x4e>;
			phandle = <0x2df>;
				sound-dai = <0x1b1 0x4f>;
				sound-dai = <0x1c6 0x04>;
			phandle = <0x2e0>;
				sound-dai = <0x1c6 0x00>;
				sound-dai = <0x1b1 0x50>;
			phandle = <0x2e1>;
				sound-dai = <0x1c6 0x01>;
				sound-dai = <0x1b1 0x51>;
			phandle = <0x2e2>;
				sound-dai = <0x1c6 0x02>;
				sound-dai = <0x1b1 0x52>;
			phandle = <0x2e3>;
				sound-dai = <0x1c6 0x03>;
				sound-dai = <0x1b1 0x53>;
			phandle = <0x2e4>;
				sound-dai = <0x1b1 0x54>;
				sound-dai = <0x1c7 0x00>;
			phandle = <0x2e5>;
				sound-dai = <0x1b1 0x55>;
				sound-dai = <0x1c7 0x01>;
			phandle = <0x2e6>;
				sound-dai = <0x1b1 0x56>;
				sound-dai = <0x1c7 0x02>;
			phandle = <0x2e7>;
				sound-dai = <0x1b1 0x57>;
				sound-dai = <0x1c7 0x03>;
			phandle = <0x2e8>;
				sound-dai = <0x1b1 0x58>;
				sound-dai = <0x1c7 0x04>;
			phandle = <0x2e9>;
				sound-dai = <0x1b1 0x59>;
				sound-dai = <0x1c7 0x05>;
			phandle = <0x2ea>;
				sound-dai = <0x1b1 0x5a>;
				sound-dai = <0x1c7 0x06>;
			phandle = <0x2eb>;
				sound-dai = <0x1b1 0x5b>;
				sound-dai = <0x1c7 0x07>;
			phandle = <0x2ec>;
				sound-dai = <0x1b1 0x5c>;
				sound-dai = <0x1c7 0x08>;
			phandle = <0x2ed>;
				sound-dai = <0x1b1 0x5d>;
				sound-dai = <0x1c7 0x09>;
			phandle = <0x2ee>;
				sound-dai = <0x1c7 0x0a>;
				sound-dai = <0x1b1 0x5e>;
			phandle = <0x2ef>;
				sound-dai = <0x1c7 0x0b>;
				sound-dai = <0x1b1 0x5f>;
			phandle = <0x2f0>;
				sound-dai = <0x1c7 0x0c>;
				sound-dai = <0x1b1 0x60>;
			phandle = <0x2f1>;
				sound-dai = <0x1c7 0x0d>;
				sound-dai = <0x1b1 0x61>;
			phandle = <0x2f2>;
				sound-dai = <0x1c7 0x0e>;
				sound-dai = <0x1b1 0x62>;
			phandle = <0x2f3>;
				sound-dai = <0x1b1 0x20>;
				sound-dai = <0x1c8 0x00>;
			phandle = <0x2f4>;
				sound-dai = <0x1b1 0x22>;
				sound-dai = <0x1c9 0x00>;
			phandle = <0x2f5>;
				sound-dai = <0x1b1 0x24>;
				sound-dai = <0x1ca 0x00>;
			phandle = <0x2f6>;
				sound-dai = <0x1b1 0x26>;
				sound-dai = <0x1cb 0x00>;
			phandle = <0x2f7>;
				sound-dai = <0x1c8 0x01>;
				sound-dai = <0x1b1 0x20>;
			phandle = <0x2f8>;
				sound-dai = <0x1c9 0x01>;
				sound-dai = <0x1b1 0x22>;
			phandle = <0x2f9>;
				sound-dai = <0x1ca 0x01>;
				sound-dai = <0x1b1 0x24>;
			phandle = <0x2fa>;
				sound-dai = <0x1cb 0x01>;
				sound-dai = <0x1b1 0x26>;
			phandle = <0x2fb>;
				sound-dai = <0x1b1 0x72>;
				sound-dai = <0x1cc 0x00>;
			phandle = <0x2fc>;
				sound-dai = <0x1b1 0x73>;
				sound-dai = <0x1cd 0x00>;
			phandle = <0x2fd>;
				sound-dai = <0x1b1 0x74>;
				sound-dai = <0x1ce 0x00>;
			phandle = <0x2fe>;
				sound-dai = <0x1b1 0x75>;
				sound-dai = <0x1cf 0x00>;
			phandle = <0x2ff>;
				sound-dai = <0x1b1 0x76>;
				sound-dai = <0x1d0 0x00>;
			phandle = <0x300>;
				sound-dai = <0x1b1 0x77>;
				sound-dai = <0x1d1 0x00>;
			phandle = <0x301>;
				sound-dai = <0x1cc 0x01>;
				sound-dai = <0x1b1 0x72>;
			phandle = <0x302>;
				sound-dai = <0x1cd 0x01>;
				sound-dai = <0x1b1 0x73>;
			phandle = <0x303>;
				sound-dai = <0x1ce 0x01>;
				sound-dai = <0x1b1 0x74>;
			phandle = <0x304>;
				sound-dai = <0x1cf 0x01>;
				sound-dai = <0x1b1 0x75>;
			phandle = <0x305>;
				sound-dai = <0x1d0 0x01>;
				sound-dai = <0x1b1 0x76>;
			phandle = <0x306>;
				sound-dai = <0x1d1 0x01>;
				sound-dai = <0x1b1 0x77>;
			phandle = <0x307>;
				sound-dai = <0x1b1 0x28>;
				sound-dai = <0x1d2 0x00>;
			phandle = <0x308>;
				sound-dai = <0x1b1 0x2a>;
				sound-dai = <0x1d3 0x00>;
			phandle = <0x309>;
				sound-dai = <0x1d2 0x01>;
				sound-dai = <0x1b1 0x28>;
			phandle = <0x30a>;
				sound-dai = <0x1d3 0x01>;
				sound-dai = <0x1b1 0x2a>;
			phandle = <0x30b>;
				sound-dai = <0x1b1 0x70>;
				sound-dai = <0x1d4 0x00>;
			phandle = <0x30c>;
				sound-dai = <0x1d4 0x01>;
				sound-dai = <0x1b1 0x70>;
			phandle = <0x30d>;
				sound-dai = <0x1b1 0x63>;
				sound-dai = <0x1d5 0x00>;
			phandle = <0x30e>;
				sound-dai = <0x1b1 0x65>;
				sound-dai = <0x1d5 0x01>;
			phandle = <0x30f>;
				sound-dai = <0x1b1 0x67>;
				sound-dai = <0x1d5 0x02>;
			phandle = <0x310>;
				sound-dai = <0x1b1 0x69>;
				sound-dai = <0x1d5 0x03>;
			phandle = <0x311>;
				sound-dai = <0x1b1 0x6b>;
				sound-dai = <0x1d5 0x04>;
			phandle = <0x312>;
				sound-dai = <0x1b1 0x6d>;
				sound-dai = <0x1d5 0x05>;
			phandle = <0x313>;
				sound-dai = <0x1b1 0x6f>;
				sound-dai = <0x1d5 0x06>;
			phandle = <0x314>;
				sound-dai = <0x1d5 0x07>;
				sound-dai = <0x1b1 0x64>;
			phandle = <0x315>;
				sound-dai = <0x1d5 0x08>;
				sound-dai = <0x1b1 0x66>;
			phandle = <0x316>;
				sound-dai = <0x1d5 0x09>;
				sound-dai = <0x1b1 0x68>;
			phandle = <0x317>;
				sound-dai = <0x1d5 0x0a>;
				sound-dai = <0x1b1 0x6a>;
			phandle = <0x318>;
				sound-dai = <0x1d5 0x0b>;
				sound-dai = <0x1b1 0x6c>;
			phandle = <0x319>;
				sound-dai = <0x1d5 0x0c>;
				sound-dai = <0x1b1 0x6e>;
			phandle = <0x31a>;
				sound-dai = <0x1d6 0x00>;
				sound-dai = <0x1b1 0x7d>;
			thermal-sensors = <0x1d7 0x00>;
					phandle = <0x1d8>;
					phandle = <0x31b>;
					phandle = <0x1db>;
					trip = <0x1d8>;
					cooling-device = <0x136 0xffffffff 0xffffffff 0x138 0xffffffff 0xffffffff 0x13a 0xffffffff 0xffffffff 0x13c 0xffffffff 0xffffffff 0x13e 0xffffffff 0xffffffff 0x140 0xffffffff 0xffffffff>;
					trip = <0x1d8>;
					cooling-device = <0x1d9 0xffffffff 0xffffffff>;
					trip = <0x1d8>;
					cooling-device = <0x1da 0x01 0x01>;
					trip = <0x1db>;
					cooling-device = <0x1dc 0x01 0x01>;
			thermal-sensors = <0x1d7 0x01>;
					phandle = <0x1dd>;
					phandle = <0x31c>;
					phandle = <0x1df>;
					trip = <0x1dd>;
					cooling-device = <0x136 0xffffffff 0xffffffff 0x138 0xffffffff 0xffffffff 0x13a 0xffffffff 0xffffffff 0x13c 0xffffffff 0xffffffff 0x13e 0xffffffff 0xffffffff 0x140 0xffffffff 0xffffffff>;
					trip = <0x1dd>;
					cooling-device = <0x1d9 0xffffffff 0xffffffff>;
					trip = <0x1dd>;
					cooling-device = <0x1de 0x01 0x01>;
					trip = <0x1df>;
					cooling-device = <0x1dc 0x01 0x01>;
			thermal-sensors = <0x1d7 0x02>;
					phandle = <0x1e0>;
					phandle = <0x31d>;
					phandle = <0x1e2>;
					trip = <0x1e0>;
					cooling-device = <0x136 0xffffffff 0xffffffff 0x138 0xffffffff 0xffffffff 0x13a 0xffffffff 0xffffffff 0x13c 0xffffffff 0xffffffff 0x13e 0xffffffff 0xffffffff 0x140 0xffffffff 0xffffffff>;
					trip = <0x1e0>;
					cooling-device = <0x1d9 0xffffffff 0xffffffff>;
					trip = <0x1e0>;
					cooling-device = <0x1e1 0x01 0x01>;
					trip = <0x1e2>;
					cooling-device = <0x1dc 0x01 0x01>;
			thermal-sensors = <0x1d7 0x03>;
					phandle = <0x1e3>;
					phandle = <0x31e>;
					phandle = <0x1e5>;
					trip = <0x1e3>;
					cooling-device = <0x136 0xffffffff 0xffffffff 0x138 0xffffffff 0xffffffff 0x13a 0xffffffff 0xffffffff 0x13c 0xffffffff 0xffffffff 0x13e 0xffffffff 0xffffffff 0x140 0xffffffff 0xffffffff>;
					trip = <0x1e3>;
					cooling-device = <0x1d9 0xffffffff 0xffffffff>;
					trip = <0x1e3>;
					cooling-device = <0x1e4 0x01 0x01>;
					trip = <0x1e5>;
					cooling-device = <0x1dc 0x01 0x01>;
			thermal-sensors = <0x1d7 0x04>;
					phandle = <0x1e6>;
					phandle = <0x31f>;
					phandle = <0x1e8>;
					trip = <0x1e6>;
					cooling-device = <0x136 0xffffffff 0xffffffff 0x138 0xffffffff 0xffffffff 0x13a 0xffffffff 0xffffffff 0x13c 0xffffffff 0xffffffff 0x13e 0xffffffff 0xffffffff 0x140 0xffffffff 0xffffffff>;
					trip = <0x1e6>;
					cooling-device = <0x1d9 0xffffffff 0xffffffff>;
					trip = <0x1e6>;
					cooling-device = <0x1e7 0x01 0x01>;
					trip = <0x1e8>;
					cooling-device = <0x1dc 0x01 0x01>;
			thermal-sensors = <0x1d7 0x05>;
					phandle = <0x1e9>;
					phandle = <0x320>;
					phandle = <0x1eb>;
					trip = <0x1e9>;
					cooling-device = <0x136 0xffffffff 0xffffffff 0x138 0xffffffff 0xffffffff 0x13a 0xffffffff 0xffffffff 0x13c 0xffffffff 0xffffffff 0x13e 0xffffffff 0xffffffff 0x140 0xffffffff 0xffffffff>;
					trip = <0x1e9>;
					cooling-device = <0x1d9 0xffffffff 0xffffffff>;
					trip = <0x1e9>;
					cooling-device = <0x1ea 0x01 0x01>;
					trip = <0x1eb>;
					cooling-device = <0x1dc 0x01 0x01>;
			thermal-sensors = <0x1d7 0x06>;
					phandle = <0x1ec>;
					phandle = <0x321>;
					phandle = <0x1ee>;
					trip = <0x1ec>;
					cooling-device = <0x136 0xffffffff 0xffffffff 0x138 0xffffffff 0xffffffff 0x13a 0xffffffff 0xffffffff 0x13c 0xffffffff 0xffffffff 0x13e 0xffffffff 0xffffffff 0x140 0xffffffff 0xffffffff>;
					trip = <0x1ec>;
					cooling-device = <0x1d9 0xffffffff 0xffffffff>;
					trip = <0x1ec>;
					cooling-device = <0x1ed 0x01 0x01>;
					trip = <0x1ee>;
					cooling-device = <0x1dc 0x01 0x01>;
			thermal-sensors = <0x1d7 0x07>;
					phandle = <0x1ef>;
					phandle = <0x322>;
					phandle = <0x1f1>;
					trip = <0x1ef>;
					cooling-device = <0x136 0xffffffff 0xffffffff 0x138 0xffffffff 0xffffffff 0x13a 0xffffffff 0xffffffff 0x13c 0xffffffff 0xffffffff 0x13e 0xffffffff 0xffffffff 0x140 0xffffffff 0xffffffff>;
					trip = <0x1ef>;
					cooling-device = <0x1d9 0xffffffff 0xffffffff>;
					trip = <0x1ef>;
					cooling-device = <0x1f0 0x01 0x01>;
					trip = <0x1f1>;
					cooling-device = <0x1dc 0x01 0x01>;
			thermal-sensors = <0x1d7 0x08>;
					phandle = <0x1f3>;
					phandle = <0x1f4>;
					phandle = <0x1f5>;
					phandle = <0x323>;
					cooling-device = <0x1f2 0x00 0x01>;
					trip = <0x1f3>;
					cooling-device = <0x1f2 0x01 0x02>;
					trip = <0x1f4>;
					cooling-device = <0x1f2 0x02 0x03>;
					trip = <0x1f5>;
		phandle = <0x126>;
			phandle = <0x324>;
			phandle = <0x325>;
			phandle = <0x326>;
			phandle = <0x327>;
			phandle = <0x328>;
			phandle = <0x329>;
			phandle = <0x32a>;
			phandle = <0x32b>;
			phandle = <0x32c>;
			phandle = <0x32d>;
			phandle = <0x32e>;
			phandle = <0x32f>;
			phandle = <0x330>;
			phandle = <0x331>;
			phandle = <0x332>;
			phandle = <0x333>;
			phandle = <0x334>;
			phandle = <0x335>;
			phandle = <0x336>;
			phandle = <0x337>;
			phandle = <0x338>;
			phandle = <0x339>;
			phandle = <0x33a>;
			phandle = <0x33b>;
			phandle = <0x33c>;
			phandle = <0x33d>;
			phandle = <0x33e>;
			phandle = <0x33f>;
			phandle = <0x340>;
		phandle = <0x12c>;
			phandle = <0x341>;
			phandle = <0x342>;
			phandle = <0x343>;
			phandle = <0x344>;
			phandle = <0x345>;
			phandle = <0x346>;
			phandle = <0x347>;
			phandle = <0x348>;
			phandle = <0x349>;
			phandle = <0x34a>;
			phandle = <0x34b>;
			phandle = <0x34c>;
			phandle = <0x34d>;
			phandle = <0x34e>;
			phandle = <0x34f>;
			phandle = <0x350>;
			phandle = <0x351>;
			phandle = <0x352>;
			phandle = <0x353>;
			phandle = <0x354>;
			phandle = <0x355>;
			phandle = <0x356>;
			phandle = <0x357>;
			phandle = <0x358>;
			phandle = <0x359>;
			phandle = <0x35a>;
			phandle = <0x35b>;
			phandle = <0x35c>;
			phandle = <0x35d>;
		phandle = <0x131>;
			phandle = <0x35e>;
			phandle = <0x35f>;
			phandle = <0x360>;
			phandle = <0x361>;
			phandle = <0x362>;
			phandle = <0x363>;
			phandle = <0x364>;
			phandle = <0x365>;
			phandle = <0x366>;
			phandle = <0x367>;
			phandle = <0x368>;
			phandle = <0x369>;
			phandle = <0x36a>;
			phandle = <0x36b>;
			phandle = <0x36c>;
			phandle = <0x36d>;
			phandle = <0x36e>;
			phandle = <0x36f>;
			phandle = <0x370>;
			phandle = <0x371>;
			phandle = <0x372>;
			phandle = <0x373>;
			phandle = <0x374>;
			phandle = <0x375>;
			phandle = <0x376>;
			phandle = <0x377>;
			phandle = <0x378>;
			phandle = <0x379>;
			phandle = <0x37a>;
		phandle = <0xf8>;
		vin-supply = <0xf8>;
		phandle = <0xf6>;
		vin-supply = <0xf8>;
		phandle = <0xf7>;
	};
	tegra-capture-vi {
		num-channels = <0x01>;
		compatible = "nvidia,tegra-camrtc-capture-vi";
		nvidia,vi-devices = <0x1f6 0x1f7>;
		nvidia,vi-mapping-size = <0x06>;
		nvidia,vi-mapping = <0x00 0x00 0x01 0x00 0x02 0x01 0x03 0x01 0x04 0x00 0x05 0x01>;
		nvidia,vi-mapping-names = "csi-stream-id", "vi-unit-id";
		nvidia,vi-max-channels = <0x48>;
		phandle = <0x37b>;
		ports {
			#address-cells = <0x01>;
			#size-cells = <0x00>;
			port@0 {
				reg = <0x00>;
				phandle = <0x37c>;
				endpoint {
					port-index = <0x00>;
					bus-width = <0x02>;
					remote-endpoint = <0x1f8>;
					phandle = <0x109>;
				};
			};
		};
	};
	tegra-camera-platform {
		compatible = "nvidia, tegra-camera-platform";
		num_csi_lanes = <0x02>;
		max_lane_speed = <0x16e360>;
		min_bits_per_pixel = <0x0a>;
		vi_peak_byte_per_pixel = <0x02>;
		vi_bw_margin_pct = <0x19>;
		max_pixel_rate = <0x3a980>;
		isp_peak_byte_per_pixel = <0x05>;
		isp_bw_margin_pct = <0x19>;
		phandle = <0x37d>;
		modules {
			module0 {
				badge = "jakku_front_RBP194";
				position = "front";
				orientation = "1";
				phandle = <0x37e>;
				drivernode0 {
					pcl_id = "v4l2_sensor";
					sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@3180000/rbpcv2_imx219_a@10";
					phandle = <0x37f>;
				};
				drivernode1 {
					pcl_id = "v4l2_lens";
					sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/lens_imx219@RBPCV2";
					phandle = <0x380>;
				};
			};
		};
			memory-region = <0x1f9>;
			gpios = <0xf0 0x30 0x01>;
			gpios = <0x106 0x24 0x01>;
		pwms = <0x1fa 0x00 0xb116>;
		phandle = <0x1f2>;
		vin-supply = <0xf8>;
		gpio = <0x106 0x05 0x00>;
		phandle = <0x110>;
		phandle = <0x103>;
		phandle = <0x11d>;
		phandle = <0x200>;
		interrupt-affinity = <0x136>;
			gpio_pinmux = <0x106 0x0a 0x01>;
			iommu-addresses = <0x1fb 0x00 0x00 0x00 0x00>;
			phandle = <0x1f9>;
			iommu-addresses = <0x1fc 0x00 0x00 0x00 0xa0000000 0x1fc 0x00 0xc0000000 0xffffffff 0x3fffffff>;
			phandle = <0x1fd>;
			phandle = <0x381>;
		memory-region = <0x1f9>;
		iommus = <0x10b 0x01>;
		os_gpio_hotplug_a = <0xf0 0x60 0x00>;
		phandle = <0x1fb>;
		phandle = <0x1da>;
		phandle = <0x1de>;
		phandle = <0x1e1>;
		phandle = <0x1e4>;
		phandle = <0x1e7>;
		phandle = <0x1ea>;
		phandle = <0x1ed>;
		phandle = <0x1f0>;
		phandle = <0x1dc>;
		gpio = <0xf0 0x00 0x00>;
		phandle = <0xf5>;
		phandle = <0x382>;
		memory-region = <0x1fd>;
		nvidia,trace = <0x1fe 0x04 0x70100000 0x100000>;
		nvidia,ivc-channels = <0x1ff 0x02 0x90000000 0x10000>;
		phandle = <0x1fc>;
			mboxes = <0x200 0x01 0x80000000 0x200 0x01 0x01 0x200 0x02 0x00>;
			mboxes = <0x200 0x01 0x80000002 0x200 0x01 0x03 0x200 0x02 0x01>;
		phandle = <0x1ff>;
			nvidia,mem-map = <0x1fc 0x1f6 0x201 0x1f7>;
		phandle = <0x1fe>;
		imx219_cam0 = "/bus@0/i2c@3180000/rbpcv2_imx219_a@10";
		rbpcv2_imx219_out0 = "/bus@0/i2c@3180000/rbpcv2_imx219_a@10/ports/port@0/endpoint";
		ina32211_1_40 = "/bus@0/i2c@c240000/ina3221@40";
		nvcsi = "/bus@0/host1x@13e00000/nvcsi@15a00000";
		csi_chan0 = "/bus@0/host1x@13e00000/nvcsi@15a00000/channel@0";
		csi_chan0_port0 = "/bus@0/host1x@13e00000/nvcsi@15a00000/channel@0/ports/port@0";
		rbpcv2_imx219_csi_in0 = "/bus@0/host1x@13e00000/nvcsi@15a00000/channel@0/ports/port@0/endpoint@0";
		csi_chan0_port1 = "/bus@0/host1x@13e00000/nvcsi@15a00000/channel@0/ports/port@1";
		rbpcv2_imx219_csi_out0 = "/bus@0/host1x@13e00000/nvcsi@15a00000/channel@0/ports/port@1/endpoint@1";
		capture_vi = "/tegra-capture-vi";
		vi_port0 = "/tegra-capture-vi/ports/port@0";
		rbpcv2_imx219_vi_in0 = "/tegra-capture-vi/ports/port@0/endpoint";
		tcp = "/tegra-camera-platform";
		cam_module0 = "/tegra-camera-platform/modules/module0";
		cam_module0_drivernode0 = "/tegra-camera-platform/modules/module0/drivernode0";
		cam_module0_drivernode1 = "/tegra-camera-platform/modules/module0/drivernode1";
        };
    };
};
